quake-guard/quake-guard-backend/decisiontree_regressor.pkl
quake-guard/quake-guard-backend/final_data.csv
quake-guard/quake-guard-backend/randomforest_regressor.pkl
quake-guard/quake-guard-backend/silver.csv
